* {
  box-sizing: border-box;
}

html {
  background-color: #fff8e7;
}

main {
  margin: 20px auto;
  max-width: 600px;
}

#output {
  margin: 1rem 0 0;
}

#output textarea {
  width: 100%;
  height: 6rem;
  resize: vertical;
  font-family: monospace;
  border-radius: 5px;
  border: solid 1px #444;
  padding: 10px;
}






/* editor */

rico-editor {
    display: block;
}

rico-editor:empty:not(:focus)::before {
    content: attr(placeholder);
    color: graytext;
    cursor: text;
    pointer-events: none;
    white-space: pre-line;
}

rico-editor a[contenteditable=false] {
    cursor: text;
}

rico-editor img {
    max-width: 100%;
    height: auto;
}

rico-editor [data-rico-cursor-target] {
    display: inline-block !important;
    width: 1px !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

rico-editor [data-rico-cursor-target=left] {
    vertical-align: top !important;
    margin-left: -1px !important;
}

rico-editor [data-rico-cursor-target=right] {
    vertical-align: bottom !important;
    margin-right: -1px !important;
}




rico-editor {
    display: block;
    width: 100%;
    min-height: 46px;
    padding: 12px;
    border: 1px solid #b9a;
    border-radius: 1px;
    outline: none;

    font-size: 14px;
    line-height: 24px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    background: #fff linear-gradient(315deg, #98b, #98b 8px, #eb1 8px, #eb1 12px, #fff 12px) no-repeat;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

rico-editor * {
    padding: 0;
    margin: 0;
    text-shadow: none;
}
rico-editor > div,
rico-editor > p,
rico-editor > h1,
rico-editor > h2,
rico-editor > h3,
rico-editor > pre,
rico-editor > blockquote,
rico-editor > ul,
rico-editor > ol {
    position: relative;
    border-bottom: 1px dashed #ccc;
    padding: 12px;
    margin: 0px -12px;
}
rico-editor > *:first-child {
    border-top: none;
    padding-top: 0;
}
rico-editor > *:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

rico-editor > p::before,
rico-editor > h1::before,
rico-editor > h2::before,
rico-editor > h3::before,
rico-editor > pre::before,
rico-editor > blockquote::before,
rico-editor > ul::before,
rico-editor > ol::before {
    font-weight: normal;
    position: absolute;
    right: 4px;
    top: 3px;
    font-size: 11px;
    line-height: 11px;
    color: #999;
}
rico-editor > p::before {
    content: 'P';
}
rico-editor > h1::before {
    content: 'T1';
}
rico-editor > h2::before {
    content: 'T2';
}
rico-editor > h3::before {
    content: 'T3';
}
rico-editor pre {
    font-family: monospace;
    white-space: pre-wrap;
}
rico-editor > pre::before {
    content: '</>';
    top: 3px;
}
rico-editor blockquote {
    font-family: Georgia, serif;
    font-size: 15px;
}
rico-editor > blockquote::before {
    content: 'â€';
    top: 11px;
    font-size: 28px;
    color: #aaa;
}
rico-editor > ul::before {
    content: 'UL';
}
rico-editor > ol::before {
    content: 'OL';
}

rico-editor li {
    margin-left: 1em;
}
rico-editor em {
    color: #427;
}
rico-editor small {
    font-size: 0.875em;
}
rico-editor > blockquote > h1,
rico-editor > blockquote > h2 {
    padding-bottom: 8px;
}
rico-editor:focus {
    border-color: #51A7E8 !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5) !important;
}









/* toolbars */

rico-toolbar {
  display: block;
}

rico-toolbar {
  white-space: nowrap;
}

rico-toolbar [data-rico-dialog] {
  display: none;
}

rico-toolbar [data-rico-dialog][data-rico-active] {
  display: block;
}

rico-toolbar [data-rico-dialog] [data-rico-validate]:invalid {
  background-color: #ffdddd;
}




rico-toolbar {
    display: block;
    width: 100%;
    min-height: 36px;
    background: linear-gradient(180deg, rgba(255, 248, 231, 1.0) 50%, rgba(255, 248, 231, 0.0)); /* cosmic latte */
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    padding-top: 5px;
    margin-top: -5px;
    z-index: 20;
}
.show-changed rico-toolbar {
    background: linear-gradient(180deg, rgba(204, 255, 204, 1.0) 50%, rgba(204, 255, 204, 0.0));
}

.module-field-group rico-toolbar {
    background: linear-gradient(180deg, rgba(238, 228, 228, 1.0) 50%, rgba(238, 228, 228, 0.0));
}
.module-field-group-new rico-toolbar {
    background: linear-gradient(180deg, rgba(204, 221, 187, 1.0) 50%, rgba(204, 221, 187, 0.0));
}
.module-field-group-delete rico-toolbar {
    background: linear-gradient(180deg, rgba(255, 187, 187, 1.0) 50%, rgba(255, 187, 187, 0.0));
}



rico-toolbar .rico-button-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    max-width: 605px;
}
rico-toolbar .rico-button-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid #999;
    border-radius: 4px;
    overflow: hidden;
    background: #fff8e7;
}
rico-toolbar .rico-button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    outline: none;
    background: linear-gradient(160deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.1) 90%);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #999;
    border-bottom: none;
    border-right: none;
    margin-left: -1px;
    margin-top: -1px;
    min-width: 24px;
    height: 24px;
    text-indent: -9999px;
}
rico-toolbar .rico-button:hover {
    background-image: linear-gradient(160deg, rgba(255, 255, 255, 0.2) 0%, transparent 90%);
}
rico-toolbar .rico-button.rico-active {
    box-shadow: inset 1px 1px 2px rgba(220, 195, 105, 0.6);
    color: #f00;
}
rico-toolbar .rico-button:active {
    box-shadow: inset 1px 1px 2px rgba(220, 195, 105, 0.6);
    background-color: #fe3;
}
rico-toolbar .rico-button.rico-active {
    background-color: #fe8;
    background-image: none;
}
rico-toolbar .rico-button.rico-active:active:hover {
    background-color: #fe3;
}



rico-toolbar .rico-button:disabled {
    cursor: auto;
    background: #e3e3e3;
}
rico-toolbar .rico-button-group--text-tools {
    order: 0;
    flex: 2 1 auto;
}
rico-toolbar .rico-button-group--block-tools {
    order: 2;
    flex: 4 1 auto;
}
rico-toolbar .rico-button-group--history-tools {
    order: 1;
    flex: 1 1 auto;
}



/* icons */

rico-toolbar .rico-button--icon::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    content: "";
}


rico-toolbar .rico-button--icon:active::before,
rico-toolbar .rico-button--icon.rico-active::before {
    /*opacity: 1;*/
}
rico-toolbar .rico-button--icon:disabled::before { opacity: 0.5; }

rico-toolbar .rico-button--icon-bold::before                   { background-image: url(/rico-bold@3x.png); }
rico-toolbar .rico-button--icon-italic::before                 { background-image: url(/rico-italic@3x.png); }
rico-toolbar .rico-button--icon-small::before                  { background-image: url(/rico-small@3x.png); }
rico-toolbar .rico-button--icon-strike::before                 { background-image: url(/rico-strike@3x.png); }
rico-toolbar .rico-button--icon-link::before                   { background-image: url(/rico-link@3x.png); }

rico-toolbar .rico-button--icon-undo::before                   { background-image: url(/rico-undo@3x.png); }
rico-toolbar .rico-button--icon-redo::before                   { background-image: url(/rico-redo@3x.png); }

rico-toolbar .rico-button--icon-heading-1::before              { background-image: url(/rico-t1@3x.png); }
rico-toolbar .rico-button--icon-heading-2::before              { background-image: url(/rico-t2@3x.png); }
rico-toolbar .rico-button--icon-heading-3::before              { background-image: url(/rico-t3@3x.png); }
rico-toolbar .rico-button--icon-quote::before                  { background-image: url(/rico-quote@3x.png); }
rico-toolbar .rico-button--icon-code::before                   { background-image: url(/rico-code@3x.png); }
rico-toolbar .rico-button--icon-bullet-list::before            { background-image: url(/rico-bullets@3x.png); }
rico-toolbar .rico-button--icon-number-list::before            { background-image: url(/rico-numbers@3x.png); }
rico-toolbar .rico-button--icon-decrease-nesting-level::before { background-image: url(/rico-indent@3x.png); }
rico-toolbar .rico-button--icon-increase-nesting-level::before { background-image: url(/rico-unindent@3x.png); }





/* dialogs */

rico-toolbar .rico-dialog {
    padding: 5px;
    background: #aef;
    border-radius: 4px;
    border: 1px solid #05e;
    z-index: 5;
    margin-bottom: 5px;
}
rico-toolbar .rico-dialog__link-fields {
    display: grid;
    grid-template-columns: 1fr auto;
}
rico-toolbar .rico-dialog__link-fields .rico-input {
    padding: 0 8px;
    flex: 1;
}
rico-toolbar .rico-dialog__link-fields .rico-button-group {
    flex: 0 0 content;
    margin: 0;
}
rico-toolbar .rico-input--dialog {
    padding: 0 4px;
    height: 25px;
    margin: 0 5px 0 0;
    border-radius: 4px;
    border: 1px solid #999;
    background-color: #fff;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 20px;
}
rico-toolbar .rico-input--dialog.validate:invalid {
    box-shadow: #F00 0 0 1.5px 1px;
}
rico-toolbar .rico-button--dialog {
    padding: 0 5px;
    text-indent: initial;
}






rico-inspector {
  display: block;
}

rico-inspector {
  position: fixed;
  background: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
  overflow: auto;
  word-wrap: break-word;
}

rico-inspector details {
  margin-bottom: 10px;
}

rico-inspector summary:focus {
  outline: none;
}

rico-inspector details .panel {
  padding: 10px;
}

rico-inspector .performance .metrics {
  margin: 0 0 5px 5px;
}

rico-inspector .selection .characters {
  margin-top: 10px;
}

rico-inspector .selection .character {
  display: inline-block;
  font-size: 8px;
  font-family: courier, monospace;
  line-height: 10px;
  vertical-align: middle;
  text-align: center;
  width: 10px;
  height: 10px;
  margin: 0 1px 1px 0;
  border: 1px solid #333;
  border-radius: 1px;
  background: #676666;
  color: #fff;
}

rico-inspector .selection .character.selected {
  background: yellow;
  color: #000;
}

rico-watchdog-player > div { display: -webkit-flex; display: flex; font-size: 14px; margin: 10px 0 }
rico-watchdog-player > div > button { width: 65px }
rico-watchdog-player > div > input { width: 100%; -webkit-align-self: stretch; align-self: stretch; margin: 0 20px }
rico-watchdog-player > div > span { display: inline-block; text-align: center; width: 110px }
